<%- include('partials/header') %>
<h1>Compose</h1>
<form action="/" method="post">
    <input required class="form-control" type="text" name="entry_title" placeholder="Title">
    <textarea class="form-control" name="entry_body" placeholder="Type what is on your mind" rows="4"
        required></textarea>
    <button class="btn btn-lg" type="submit">Send</button>
</form>
<%- include('partials/footer') %>